/* 1 */
/* grid, gamoiyeneba saitis layoutistvis, yofs elmentebs or nawilad, row da columad */

/* 2 */
div.container {
    width: 400px;
    height: 400px;
    border: 2px solid black;
    display: grid;
    grid-template-columns: 140px 140px 100px;
    grid-template-rows: 100px 180px 100px;
    gap: 10px;
}

.child {
    background-color: red;
    color: white;
}

/* 3 */
div.c1 {
    width: 410px;
    height: 410px;
    border: 2px solid black;
    display: grid;

    grid-template-columns: 100px 100px 100px 100px;
    gap: 2px;
}

.ch {
    background-color: blue;
    border: 2px solid black;
}


/* 4 */
.c2 {
    width: 200px;
    height: 200px;
    border: 2px solid black;
    display: grid;
    grid-template-columns: 100px 100px;
    grid-template-rows: 60px 40px 50px 50px;
    align-items: center;
}

.c {
    background-color: green;
    border: 2px solid black;
}


/* 5 */
.c3 {
    width: 200px;
    height: 200px;
    border: 2px solid black;
    display: grid;
    grid-template-columns: 100px 100px;
    justify-items: center;
}


