 /* 1) შექმენი div ბარათი (card), რომელსაც desktop-ზე აქვს width 500px,
 ხოლო mobile-ზე (max-width: 600px) გახდეს 100% სიგანის. */
div.card {
    width: 500px;
    height: 100px;
    background-color: red;
}

@media (max-width: 600px) {
    div.card {
        width: 100%;
    }
}

/* 2) დაამატე ტექსტი p, რომელიც desktop-ზე იყოს ცენტრში
 (text-align: center), ხოლო mobile-ზე გადავიდეს მარცხნივ
  (text-align: left). */
  p.text {
    text-align: center;
  }

  @media(max-width: 375px) {
    p.text {
        text-align: left;
    }
  }



/*  3) შექმენი სამი div grid-ით: desktop-ზე იყოს 3 სვეტი, ხოლო
 mobile-ზე (max-width: 768px) დარჩეს მხოლოდ 1 სვეტი. */
 div.container {
    display: grid;
    grid-template-columns: 100px 100px 100px;
 }

 .item {
    background-color: blue;
    border: 2px solid black;
 }

 @media (max-width: 768px) {
    div.container {
        grid-template-columns: 100px;
    }
 }


 /* 4) შექმენი header, რომელსაც desktop-ზე აქვს სიმაღლე 100px,
 ხოლო mobile-ზე (max-width: 600px) სიმაღლე შემცირდეს 60px-მდე. */
header {
    width: 100px;
    height: 100px;
    background-color: black;
}

@media(max-width: 600px) {
    header {
        height: 60px;
    }
}

/* 5) დაამატე img, რომელიც desktop-ზე ჩანს, მაგრამ tablet ზომაზე
 (max-width: 1024px) დაიმალება. */
img#img {
    width: 100px;
    height: 100px;
}

    @media(max-width: 1024px) {
        img#img {
           display: none;
        }
    }

/* 6) შექმენი button, რომელსაც mobile-ზე (max-width: 480px) ტექსტის 
ზომა შემცირდება, ხოლო desktop-ზე დარჩება დიდი. */
#btn {
    font-size: 30px;
}

@media(max-width: 480px) {
    #btn {
        font-size: 16px;
    }
}


/* 7) შექმენი section, რომელსაც desktop-ზე აქვს დიდი padding (40px), 
ხოლო mobile-ზე (max-width: 768px) padding შემცირდეს 15px-მდე.  */
section {
    padding: 40px;
    border: 2px solid black;
}

@media(max-width: 768px) {
    section {
        padding: 15px;
    }
}