
* {
    color: hsl(0, 0%, 7%);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
body {
    background-color: hsl(31, 66%, 93%);
}
div.container {
    width: 500px;
    height: 450px;
    /* border: 2px solid black; */

    display: grid;
    grid-template-columns: repeat(12, 87px);
    grid-template-rows: repeat(12,69px);
    gap: 5px;
    margin-left: 180px;
}

.item {
    /* background-color: red; */
    /* border: 2px solid black; */
    border-radius: 10px;
    padding: 3px;
}


.item-1 {
    grid-row-start: 1;
    grid-row-end: 5;
    grid-column-start: 1;
    grid-column-end: 3;
    font-size: 28px;
    background-color: hsl(31, 66%, 93%);
    padding: 12px;
}

span#qText {
    color: hsl(256, 67%, 59%);
}

img#createPost {
    position: relative;
    width: 150px;
    height: 70px;
    top: 30px;
    left: -5px;
}


.item-2 {
   grid-column-start: 3;
   grid-column-end: 9;
   grid-row-start: 1;
   grid-row-end: 4;

   font-size: 50px;
   color: hsl(0, 0%, 100%);
   background-color: hsl(256, 67%, 59%);
   text-align: center;
}

span#tenX {
    color: hsl(39, 100%, 71%);
}
img#fiveStarImg {
    width: 200px;
    height: 30px;
}
span#smallText {
    position: relative;
    top: -35px;
    font-size: 16px;
    color: rgb(255, 255, 255);
}



.item-3 {
    grid-column-start: 9;
    grid-column-end: 11;

    grid-row-start: 1;
    grid-row-end: 7;
    overflow: hidden;
    background-color: hsl(254, 88%, 90%);
}

p.sceduleText {
    font-size: 22px;
    font-weight: 500;
    position: relative;
    left: 30px;
}
img#sceduleImg {
    border-radius: 10px;
    width: 275px;
    height: 200px;
    margin-top: 10px;
    margin-left: 15px;
}

p.sceduleTwo {
    font-size: 15px;
    font-weight: 500;
    position: relative;
    left: 15px;
}

.item-4 {
    grid-column-start: 1;
    grid-column-end: 3;
    
    grid-row-start: 5;
    grid-row-end: 10;
    font-size: 25px;
    padding: 12px;
    background-color: hsl(39, 100%, 71%);
    font-weight: bold;
}
img#aiImg {
    margin-top: 50px;
    width: 150px;
    height: 150px;
}

.item-5 {
    grid-row-start: 4;
    grid-column-start: 3;

    grid-row-end: 7;
    grid-column-end: 6;
    overflow: hidden;

    font-size: 28px;
    color: black;
    background-color: white;
}

img#illImg {
    width: 350px;
    height: 70px;
}

.item-6 {
    grid-row-start: 4;
    grid-row-end: 7;

    grid-column-start: 6;
    grid-column-end: 9;
    overflow: hidden;
    background-color: hsl(39, 100%, 71%);
}

p.maintainP {
    color: black;
    font-size: 25px;
    position: relative;
    top: -23px; left: 24px;
}
img#calendarImg {
    position: relative;
    left: 20px; top: -35px;
    width: 230px;
    height: 140px;
}


.item-7 {
    grid-row-start: 7;
    grid-row-end: 10;

    grid-column-start: 3;
    grid-column-end: 6;
}

p.numberWord {
    word-spacing: 2px;
    font-size: 20px;
    position: relative;
    top: -15px; left: 10px;
}
h1 {
    position: relative;
    left: 10px;
}
img#peopleImg {
    width: 210px;
    height: 70px;
    position: relative;
    left: 20px; top: -5px;
}

.item-8 {
    grid-row-start: 7;
    grid-row-end: 10;
    grid-column-start: 6;
    grid-column-end: 11;
    background-color: hsl(256, 67%, 59%);

}

img#growImg {
    position: relative;
    top: 10px; left: 5px;
    width: 230px;
    height: 190px;
}

span.growSpan {
    position: absolute;
    top: 500px; left: 905px;
    font-size: 30px;
    color: hsl(31, 66%, 93%);
}