* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    background: black;
}

img {
    position: fixed;
    height: 750px;
    width: 850px;
    left: 0;
    top: 0;
}

.main {
    position: absolute;
    background-color: rgb(245, 245, 245);
    width: 370px;
    height: 500px;
    top: 50%;
    left: 70%;
    transform: translateY(-50%);
    border-radius: 20px;
    border: 5px solid lightgrey;

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
}

.loginT {

    color: rgb(148, 148, 148);
    margin-bottom: 40px;
    margin-left: 110px;
}


.name{
    width: 100%;
    height: 45px;
    border-radius: 10px;
    background-color: white;
    margin-bottom: 20px;
    padding-left: 10px;
    border: 1px solid #ccc;
    font-size: 16px;
}
.password {
    width: 100%;
    height: 45px;
    border-radius: 10px;
    background-color: white;
    padding-left: 10px;
    border: 1px solid #ccc;
    font-size: 16px;
}

.rememberBox {
    position: relative;
    top: -16px;
    width: 110px;
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 14px;
}

.loginB {
    margin-top: 60px;   
    background-color: #5DAE6A;
    height: 45px;
    width: 100%;
    border-radius: 10px;
    border: 3px solid green;
    color: rgb(245, 245, 245);
    font-size: 18px;
}
#login-a {
    padding-left: 130px;
    padding-right: 130px;
    padding-top: 6px;
    padding-bottom: 6px;
    border-radius: 10px;
    color: white;
    font-size: 20px;
    text-decoration: none;
}
.noAcc {
    margin-left: 30px;
    margin-top: 45px;
    display: flex;
    gap: 6px;
    font-size: 14px;
    color: #777;
}

.noAcc a {
    color: #5DAE6A;
    font-weight: bold;
}

.forgotPass {
    width: 100%;
    text-align: right; 
   
}

.forgotPass a {
    font-size: 13px;
    color: #5DAE6A;

}
.loginB:active{
    background-color: rgb(107, 206, 107);
    border: 3px solid rgb(1, 188, 1);
}