/* default styles for every tag */
* {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  color: hsl(30, 10%, 34%);
}

body {
    background-color: hsl(30, 54%, 90%);
}

div.container {
    background-color: hsl(330, 100%, 98%);
    display: grid;
    width: 60%;
    margin-left: 300px;
    border-radius: 15px;
}

div.child {
    margin-left: 50px;
}
img {
    width: 800px;
    height: 320px;
    border-radius: 10px;
}

h1 { 
  font-family: "Young Serif", serif;
  font-weight: 100;
  color: black;
}

h4 {
    color: hsl(332, 51%, 32%);
}

h2 {
    color: hsl(14, 45%, 36%);
}

b {
    color: hsl(24, 5%, 18%);
}

strong {
    color: hsl(14, 45%, 36%);
}

li::marker {
    color: hsl(14, 45%, 36%);
}


----საშინაო დავალება----

1. ახსენი while loop-ის სინტაქსი, ანუ დამიწერე while loop და კომენტარების სახით ამიხსენი მისი სინტაქსი, სად ხდება საიტერაციო ცვლადის დეკლარაცია , შედარება და ა.შ
2. ახსენი რა განსხვავებაა ინკრემენტაციასა და დეკრემენტაციას შორის
3. while ლუპით გამომიტანე ტექსტი 2 დან 9 მდე, იგივე გააკეთე for loop-ით
4. მითხარი რა მსგავსება და გასხვავებაა for და while loop-ს შორის?

5. ეცადე გააკეთო ის მაგალითი რაც მე გავაკეთე while loop-ზე. შექმენი ერთი ცვლადი სადაც მომხმარებელმა ფრომფთით უნდა შემოიტანოს პაროლი, შემდეგ შექმენი მეორე ცვლადი სადაც 
ეწერება ნამდვილი პაროლი, while ლუპში კი ჩაწერე შედარება რომ სანამ მომხარებლის მიერ შემოტანილი პაროლი არ გაუტოლდება(!==) ნამდვილ პაროლს, მანამდე გაუმეოროს კოდი while ლუპმა
მომხარებელს, ანუ სანამ სწორ კოდს არ ჩაწერს მომხარებელი მანამდე კითხოს რა არის ნამდვილი პაროლი. საბოლოოდ კი როცა კოდი სწორი იქნება და while ლუპი დასრულდება გამოვიდეს
ტექსტი ალერტით რომ "პაროლი ჩაწერილია"


6. უყურე ჩანაწერებს უეჭველიი